- content_for :title do
  %title #{@task.name} | CampHQ

%h2.main-h2 Task Details
%hr
%h1.text-center= @task.name
.col-pad
  %p Complete: #{@task.completed}
  %h2.muted
    "
    = @task.description
    "
  = link_to 'Edit', edit_task_path(@task), class: 'button small'
  = link_to 'Delete', task_path(@task), method: :delete, class: 'button alert small'
  %h3 Assign a new User to this Task
  = form_for :task, url: assign_user_path(@task), html: {class: 'model-form'} do |f|
    = f.select 'users', options_for_select(User.all.map { |i| [i.name, i.id] })
    = f.submit 'Assign', class: 'button expand secondary'
  %hr
  %h2 Users:
  %table
    %tr
      %th ID
      %th Name
      %th Email
    - @task.users.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, user_path(i)
        %td= i.email