- content_for :title do
  %title #{@task.name} | CampHQ

%h2.main-h2 Task Details
%hr
%h1.text-center= @task.name
.col-pad
  - if @task.completed
    .alert-box.check-box-main.success
      %p
        %i.fa.fa-check
        &nbsp;Complete
  - else
    .alert-box.check-box-main.warning
      %p
        %i.fa.fa-tasks
        &nbsp;Work in Progress
  %h2.muted
    "
    = @task.description
    "
  = link_to 'Edit', edit_task_path(@task), class: 'button small'
  = link_to 'Delete', task_path(@task), method: :delete, class: 'button alert small'
  %h3 Assign a new User to this Task
  - if flash[:error]
    .alert-box.alert
      %p= flash[:error]
  = form_for :task, url: assign_user_path(@task), html: {class: 'model-form'} do |f|
    = f.select 'users', options_for_select(@select_options)
    = f.submit 'Assign', class: 'button expand secondary'
  %hr
  %h2 Users:
  %table
    %tr
      %th ID
      %th Name
      %th Email
      %th Action
    - @task.users.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, user_path(i)
        %td= i.email
        %td= link_to 'Remove User from this Task', remove_user_path(@task, i), method: :delete, class: 'button alert tiny'