- content_for :title do
  %title Users | CampHQ

.row
  .small-12.columns
    %h1.text-center Users
  .small-12.columns
    - @users.each do |i|
      .user
        %h2= link_to i.name, user_path(i)
        %p= i.email
        %p= i.about
        %p= i.status
    = link_to "Create New User", new_user_path, class: "button radius default"