- content_for :title do
  %title #{@user.name} | CampHQ

%h2.main-h2 User Details
%hr
%h1.text-center= @user.name
.col-pad
  %p Email: #{@user.email}
  %p Status: #{@user.status}
  %h2.muted
    "
    = @user.about
    "
  = link_to 'Edit', edit_user_path(@user), class: 'button small'
  = link_to 'Delete', user_path(@user), method: :delete, class: 'button alert small'
  %h3 Assign a new Task to this User
  - if flash[:error]
    .alert-box.alert
      %p= flash[:error]
  = form_for :user, url: assign_task_path(@user), html: {class: 'model-form'} do |f|
    = f.select 'tasks', options_for_select(@select_options)
    = f.submit 'Assign', class: 'button expand secondary'
  %hr
  %h2 Tasks:
  %table
    %tr
      %th ID
      %th Name
      %th Status
      %th Action
    - @user.tasks.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, task_path(i)
        - if i.completed
          %td.success Complete
        - else
          %td.warning Working
        %td= link_to 'Remove this Task for this User', remove_task_path(@user, i), method: :delete, class: 'button alert tiny'