- content_for :title do
  %title Dashboard | Camp HQ

.row
  .small-12.columns
    %h1.text-center Users
    - @users.each do |i|
      %h3= link_to i.name, user_path(i)
      %p= i.email
      %p #{pluralize(i.tasks.count, 'Task')} Assigned
    = link_to 'Add A New User', new_user_path, class: 'button'
    %h1.text-center Tasks
    - @tasks.each do |i|
      %h3= link_to i.name, task_path(i)
      %p= i.completed
      %p #{pluralize(i.users.count, 'User')} Assigned
    = link_to 'Add A New Task', new_task_path, class: 'button'