- content_for :title do
  %title Dashboard | Camp HQ

%h2.main-h2 Dashboard
%hr
%h1.text-center Users
.col-pad
  %table
    %tr
      %th ID
      %th Name
      %th Email
      %th Tasks Assigned
      %th Actions
    - @users.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, user_path(i)
        %td= i.email
        %td #{pluralize(i.tasks.count, 'Task')} Assigned
        %td
          = link_to 'Edit', edit_user_path(i), class: 'button success tiny radius'
          = link_to 'Delete', user_path(i), method: :delete, class: 'button alert tiny radius'
  .text-center
    = link_to 'Add A New User', new_user_path, class: 'button'
  %hr
  %h1.text-center Tasks
  %table
    %tr
      %th ID
      %th Name
      %th Status
      %th Tasks Assigned
      %th Actions
    - @tasks.each do |i|
      %tr
        %td= i.id
        %td= link_to i.name, task_path(i)
        %td
          - if i.completed
            Complete
          - else
            Working
        %td #{pluralize(i.users.count, 'User')} Assigned
        %td
          = link_to 'Edit', edit_task_path(i), class: 'button success tiny radius'
          = link_to 'Delete', task_path(i), method: :delete, class: 'button alert tiny radius'
  .text-center
    = link_to 'Add A New Task', new_task_path, class: 'button'
%p.text-center.muted
  Copyright &copy; 2015
  %a{href: 'http://abraararique.com'} Abraar Arique.
  All rights reserved.